body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: white;
}

a{
    text-decoration: none;
}

#background_home{
    background: url(https://res.cloudinary.com/ds6jpxpzy/image/upload/v1665875221/salad-2068220_1920_uzogpf.jpg);
    height:100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: visible;
    opacity: 0.8;
    position: relative;
} 

nav{
    background: rgba(255, 255, 255, 0.7);
}

.text-home{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10%;
}