body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: lightgray;
    background-color: #191919;
  
}



a{
    text-decoration: none;
} 


/*Homepage*/
/*CSS for  full page background and text overlay from: https://write.corbpie.com/full-screen-image-background-with-text-overlay/*/
.image-background {
    height: 100vh;
    min-height: 500px;
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),url(https://res.cloudinary.com/ds6jpxpzy/image/upload/v1666122619/rome-1968149_1920_zp73em.jpg); 
    background-size: cover;
    background-position: center;
  }

.navbar-nav {
    margin-left: auto;
}

.btn-home{
    margin: 10px;
    color: none;
    border: 2px solid darkred;
    color: white;
}
/* css for book.html (book a table form) */


.form{
    background-color: rgba(255,255,255,0.8);
    margin: 10% 0;
    color: #191919;
    width: 70%;
    margin-left: 15%;
    padding: 2%;
}


#bg-bookingform{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)), url(https://res.cloudinary.com/ds6jpxpzy/image/upload/v1666122855/sunset-3817287_1920_gxn9ky.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*footer*/
footer{
    height: 9%;
}