{% extends 'base.html' %}
{% block content %}

<div class=" about-container container">
  <div class="row p-5"><h1 class="text-center">Abous us</h1></div>
  
    <div class="row p-5">
      <div class="col order-xs-1 order-md-1">
        <p class="p-about ">Il cucchiaio d'oro is a traditional Italian restaurant in a 50s Italian trattoria setting. 
            We take pride in the fact that everything is freshly made daily using only the best ingredients. 
            We cook traditional Italian meals the way our grandmothers and their grandmothers before them made everyday food. 
            This results in a real Italian culinairy experience that does the ancient traditions justice every day.</p>        
      </div>
      <div class="col-md text-lg-end order-xs-2 order-md-2">
        <img src="https://res.cloudinary.com/ds6jpxpzy/image/upload/v1666647694/lasagna-5994612_1920_xwt4qt.jpg" alt="picture of lasagna">
      </div>
    </div>
    <div class="row p-5">
      <div class="col text-lg-start order-xs-4 order-md-3">
        <img src="https://res.cloudinary.com/ds6jpxpzy/image/upload/v1666647257/restaurant-2623071_1920_kyyg98.jpg" alt="picture if restaurants kitchen">
      </div>
      <div class="col-md order-xs-3 order-md-4">
        <p  class="p-about">The journey began when three enthousiastic culinary students met at the Italian Chef Academy in Rome. 
            Each of us came from a different region with different experience, 
            but we all share the same goal: bringing the traditional Italian culinary experience to our customers. 
            It is this dream we fulfill with every plate that is served at our restaurant.</p>
      </div>
    </div>
  </div>

  {% endblock %}