
    {% extends 'base.html' %}
    {% block content %}
    
    <style>
      body {
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)), url(https://res.cloudinary.com/ds6jpxpzy/image/upload/v1665920557/pizza-2643374_1920_dnthgk.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

      }
    </style>
<!-- Menu -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <h2>Starters</h2>  
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <div id="Starters" class="">
                <h3 class="">Bruschetta Classica <span class="menu-price">€8.50</span></h3>
                <p class="menu-text"> toasted chiabatta with tomato, basil, garlic sauce and Mozzarella</p>
  
                <h3>Portobello ripieno<span class="menu-price">€12.00</span></h3>
                <p class="menu-text">stuffed Portobello mushrooms with Mozzarella, garlic and herbs</p>
        
                <h3>Minestrone <span class="menu-price">€7.50</span></h3>
                <p class="menu-text">thick traditional vegetable soup</p>
                
                <h3>Carpaccio di manzo<span class="menu-price">€15.00</span></h3>
                <p class="menu-text">thinly sliced raw beef with Parmigiano Reggiano</p>
                
                <h3>Maltagliati con vongole e asparagi<span class="menu-price">€15.00</span></h3>
                <p class="menu-text">Pasta with clams and wild asparagus</p>
                  
            </div> </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            <h2>Pasta</h2>  
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <div id="Starters" class="">
                <h3 class="">Penne Arrabiata  <span class="menu-price">€10.50</span></h3>
                <p class="menu-text"> Pasta with a mild spicy tomato sauce</p>
                
                <h3>Linguine carbonara tradizionale<span class="menu-price">€16.00</span></h3>
                <p class="menu-text">Pasta with creamy sauce and Pancetta</p>
                
                <h3>Spaghetti Bolognese tradizionale<span class="menu-price">€16.50</span></h3>
                <p class="menu-text">Pasta with tomato beef sauce</p>
                
                <h3>Lasagna verde<span class="menu-price">€19.00</span></h3>
                <p class="menu-text">Vegetarian lasagna with bechamel, spinach and tomato sauce</p>
                
                <h3>Tagliatelle vongole<span class="menu-price">€23.00</span></h3>
                <p class="menu-text">Pasta with cream and clams</p>
            </div>  
          </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <h2>Pizza</h2>  
        </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
              <div id="Starters" class="">
                  <h3 class="">Pizza Biancaneve  <span class="menu-price">€12.00</span></h3>
                  <p class="menu-text"> pizza with Mozzarella, herbs and garlic</p>
                  
                  <h3>Margarita<span class="menu-price">€12.00</span></h3>
                  <p class="menu-text">pizza with tomato sauce and Mozzarella</p>
                  
                  <h3>PQuat­tro sta­gi­o­ni<span class="menu-price">€15.00</span></h3>
                  <p class="menu-text">pizza with artichokes, tomatoes, mushrooms, prosciutto</p>
                  
                  <h3>Quattro formaggi<span class="menu-price">€15.00</span></h3>
                  <p class="menu-text">pizza with four cheeses</p>
                  
                  <h3>Funghi<span class="menu-price">€15.00</span></h3>
                  <p class="menu-text">pizza with mushrooms</p>
                    
                  <h3>Parma<span class="menu-price">€18.00</span></h3>
                  <p class="menu-text">pizza with Parma ham, ruccola and Parmigiano Reggiano</p>
                    
                  <h3>Salame Calabria<span class="menu-price">€18.00</span></h3>
                  <p class="menu-text">pizza with traditional salami</p>
                    
                  <h3>Frutti di mare<span class="menu-price">€20.00</span></h3>
                  <p class="menu-text">pizza with clams, muscles and small squids</p>
                    
              </div>  </div>
        </div>
      </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            <h2>Desserts</h2>  
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
        <div class="accordion-body">
            <div>
                <h3 class="">Tiramisu <span class="menu-price">€8.50</span></h3>
                <p class="menu-text"> coffee-flavoured ladyfingers layered with mascarpone and cream</p>
                
                <h3>Panettone<span class="menu-price">€12.00</span></h3>
                <p class="menu-text">luxurious bread with confit fruits</p>
                
                <h3>Maritozzo <span class="menu-price">€12.00</span></h3>
                <p class="menu-text">cream filled pastry</p>
                
                <h3>Babà Napoletano<span class="menu-price">€15.00</span></h3>
                <p class="menu-text">small pastry in syrup with rum</p>
                
                <h3>Gelato<span class="menu-price">€8.00</span></h3>
                <p class="menu-text">ice cream, choose between: Panna Cotta, Dulce De Leche, Coffee, Mint, Biscotti, Pistachio, Salted Caramel</p>
                  
            </div>  
          </div>
      </div>
    </div>
  </div>

{% endblock %}
</div>