<div id="bg-bookingform">
    {% extends 'base.html' %}
    {%load crispy_forms_tags %}
    {% block content %}
    
<!-- Menu -->
<div id="menu" class="">
    <h1 class="">MENU</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">
    <a href="#starters">Starters</a>
    <a href="#main-course">Main courses</a>
    <a href="#desert">Deserts</a>
    </div>
    
    <div id="Starters" class="">
    <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
    <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
    <hr>
    <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
    <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
    <hr>
    <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
    <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
    <hr>
    <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
    <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
    <hr>
    </div>
    
    <div id="Starters" class="">
        <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
        <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
        <hr>
        <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
        <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
        <hr>
        <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
        <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
        <hr>
        <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
        <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
        <hr>
        </div>
    
        <div id="Starters" class="">
    <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
    <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
    <hr>
    <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
    <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
    <hr>
    <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
    <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
    <hr>
    <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
    <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
    <hr>
    </div>
    
    <div id="Starters" class="">
        <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
        <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
        <hr>
        <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
        <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
        <hr>
        <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
        <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
        <hr>
        <h3><b>Margherita</b> <span class=""">$12.50</span></h3>
    <p class="w3-text-grey">Fresh tomatoes, fresh mozzarella, fresh basil</p>
    <hr>
</div>

{% endblock %}