<div id="bg-order">
{% extends 'base.html' %}
{% block content %}


<div class="container">
{% if request.user.is_authenticated %}
    <h2 class="mt-5"> Reservations: {{request.user}}</h2>
    <hr>
{% else %}
<a href="">Login</a>
{% endif %}
<table class=" table table-borderless table-dark">
    <thead>
        <tr>
            <th scope="col">Date: </th>
            <th scope="col"> Time: </th>
            <th scope="col"> Guests: </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"></th>
        </tr>
    </thead>
{% for order in orders %}
<tr>
    <td>{{order.date}}</td>
    <td>{{order.timeslot}}</td>
    <td>{{order.number_of_people}}</td>
    <td><a class="btn-order" href="{% url 'order_detail' order.id %}">View</a></td>
    <td><a class="btn-order" href="{% url 'update_booking' order.id %}">Edit</a></td>
    <td><a class="btn-order" href="{% url 'delete_booking' order.id %}">Cancel</a></td>
</tr>
{% empty %}
<h3>No orders</h3>
{% endfor %}
</table>
</div>
<div class="text-center">
    <a href="{% url 'book' %}" class="btn btn-danger">Book a table</a>
</div>

{% endblock %}</div>