<div id="background_home"></div>
{% extends 'base.html' %}

{% block content %}



        <div class="col-6 col-lg-2 text-home">
            <p class=""> <em> Come and enjoy our real Italian cuisine. </em></p>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="#" role="button">Book a table</a>
            {% else %}
            <p> To book and manage your bookings you need to have an account and signin</p>
            <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">signin</a>
            {% endif%}
        </div>



{% endblock %}